*.iml
.gradle
.kotlin/
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
/tmp/
.externalNativeBuild
.cxx
local.properties

# Local release signing material
*.jks
*.keystore
*.p12

# Ignore tmp file for yuki hook api
resources/META-INF/yukihookapi_init
opencode.json
/.idea
/.qoder
